<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
	<div style="float:left"><img src="{{ site.url }}/images/BMBF_gefoerdert.png" style="height: 130px"><img src="{{ site.url }}/images/PTKA_betreut.png" style="height: 100px"></div>
	<div class="copyright" style="float:right; height: 120px;">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title }}</a></div>
</footer>
