/* ==========================================================================
   Page layout
   ========================================================================== */
html, body{
    height: 100% ;

}
   
*{
	margin: 0;
}
   
/*
   Masthead
   ========================================================================== */

#masthead {
	background: $white;
	border-bottom: 1px solid $lightgrey;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
	z-index: 5;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-1600px,0));
	}
	.inner-wrap {
		@include outer-container;
        padding-left:$space;
        padding-right:$space;
	}
}
.site-title {
	@include row;
	@include media($large) {
		@include span-columns(4);
	}
	padding: (.25 * $masthead-height) 0; // fourth the height to center vertically
	margin-top: $space;
	height: 70px;
	text-decoration: none;
	color: $black;
	font-family: $alt-font;
	font-weight: 700;
	@include font-size(20,no);
	line-height: .5 * $masthead-height; // half the height to center vertically
	text-transform: uppercase;
}


/*
   Menus
   ========================================================================== */

.menu {
			
	li {
		float: left;
					
		&:last-child a {
			@include media($medium) {
				margin-right: 0; // remove spacing from last menu link
			}
		}
		a {
			position: relative;
			display: block;	
			font-family: $alt-font;
			line-height: 20px;

			&:hover	{
				color:$white;		
				background:$link-color;				
			}

			&.active {
				color:$white;
				background: $link-color3;
			}

		}
	}
}

/* Top menu navigation */

.top-menu {
	display: none;
	position: relative;
	
	@include media($medium) {
		@include span-columns(12);
	}
	@include media($large) {
		@include span-columns(8);
		ul {
			position: absolute;
			right: 0;
		}
	}
	.home,
	.sub-menu-item {
		display: none;
	}
	li {
				
		a {
			color: $darkgrey;
			@include font-size(18,no);
			line-height: .5 * $masthead-height; // half the height to center vertically
			padding: 10px 10px;
			text-transform: uppercase;
			font-family: $alt-font;
			padding-top: 25px !important;
			padding-bottom: 25px !important;

			&:hover	{
				color:$white;
				background: $link-color2;				
			}

			&.active {
				color:$white;
				background: $link-color3;	
			}

		}
	}
}

/* Bottom menu navigation in Footer */
.bottom-menu {
	position: relative !important;
	height: $bottom_menu_height; 
	//@include clearfix;
	text-align:center;
	font-weight: 700;
	@include outer-container;
		
	ul{
		//position: fixed; /* or absolute */
		margin-left: $space ;
		
		
		p{
			color: $white;
			margin-top: $space;
			margin-bottom: 0 !important;
			border-bottom: solid 1px #555;/*#bf9571		*/
			font-size: 20px ;
		}
	
		a {
			//color: lighten($link-color ,60);
			color: $white;
			margin-top: $space;
			padding:0 !important;
			float:left;
			font-weight: 500;

			&:hover	{
				color:$link-color2 !important;	
				background: transparent;					
			}

			&.active {
				//color:$white;
				//background:$link-color3;	
			}

		
		}
	}
}


/*
   Page wrapper contains Main + Footer)
   ========================================================================== */

#page-wrapper {
	position:relative;
	//display : table;
	
		
	//padding: 0 $gutter; // add white space for smaller screens
	@include size(100% 100%);
	
	-webkit-overflow-scrolling: touch;
	//z-index: 2;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-60rem,0));
	}
}

/*
   Main content
   ========================================================================== */

#main {
		min-height: 100%;
		height: auto !important; 
		
		//margin-bottom: -$site_footer_height ;
		//@include outer-container;
		//padding-left: 3% ;
		//padding-bottom: $site_footer_height;


	.inner-wrap {

		@include media($medium) {
			@include span-columns(12);
		}
	}
	.page-title {
		@include fill-parent;
        padding: $space; // add white space for smaller screens
	}
	@at-root {
		.page-content {
		
			margin-bottom: 2em;
            padding: $space; // add white space for smaller screens
			
			@include fill-parent;
			// larger font for intro paragraph
			> p {
				&:first-child {
					@include font-size(20,yes,30);
				}
			}
			// cleaner underlines for links
			
			a {
			text-decoration: none; 
			}
			p a,
			li a {
				border-bottom: 1px dotted lighten($link-color, 50);
				
				&:hover {
					border-bottom-style: solid;
				}
			}
			
			p > a.reversefootnote {
				border-bottom-width: 0;
			}
      .toc li > a {
        border-bottom-width: 0;
      }
			.page-footer,
			.pagination {
				@include fill-parent;
			}
			.page-meta {
				p{
					@include font-size(14,no);
					font-family: $alt-font;
					color: lighten($black,60);
				}
			}
		}
	}
	@at-root {
	
	.archive-wrap {
		
		@include fill-parent;
			.page-content {
			
				@include reset-all;
				@include fill-parent;
			}
		}
	}
  /* advertisements */
	.ads {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 10px 0 20px;
		background: lighten($border-color,5);
		@include media($medium) {
			@include span-columns(3);
			margin-left: 0;
			margin-right: 0;
		}
		&:after {
			content: 'Advertisement';
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			display: block;
			@include font-size(9,no);
			font-family: $alt-font;
		}
		ins {
			border-width: 0;
		}
	}
}





/* 
   Page lead
   ========================================================================== */
.page-lead {
	height: $page_lead_height !important;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	@include media($large) {
		background-size: cover;
	}
}

.page-lead-content {

	//background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
	height: $page_lead_height !important;
	margin: 0 auto;
	
	
	@include media($micro) {
		padding: 2.5em 1em 1em 1em;
	}

	@include media($short) {
		padding: 2.5em 1em 1em 1em;
	}
	
	@include media($small) {
		padding: 3.5em 1em 1em 1em;
	}

	@include media($medium) {
		padding: 3.5em 1em 1em 1em;
	}
	@include media($large) {
		padding: 4.5em 1.5em 1.5em 1.5em;
	}
	
	h1 {
		color: $white;
		background: $page-head-color;
		display:inline-block;
		@include font-size(36);
		font-weight: 600;
		padding: 15px;
		margin-right: 1em;
		margin-bottom: $space !important;
		
		

		@include media($medium) {
			@include font-size(38);
		}
		@include media($large) {
			@include font-size(40);
		}
	}
	h2 {
		color: $white;
		display:inline-block;
		background: $page-head-color;
		padding: $space;
		@include font-size(20);
		font-weight: 600;

			
		@include media($medium) {
			@include font-size(20);
		}
		@include media($large) {
			@include font-size(22);
		}
	}
}

// page header
.page-feature {
	@include fill-parent;
	// expand image to cover full width of header
	img {
		width: 100%;
	}
}

// make image flush with edges on small screens
.page-image {
	position: relative;
	max-width: 100%;
	float:right;
	//margin-left: -1 * $gutter;
	//margin-right: -1 * $gutter;
	
	// feature image caption
	.image-credit {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px 15px;
		//background-color: rgba($black,.5);
		color: $darkgrey;
		
		font-family: $alt-font;
		@include font-size(12,no);
		text-align: right;

		a {
			color: $white;
			text-decoration: none;
			
			&:hover	{
				color:$link-color2 !important;	
				background: transparent;					
			}

			&.active {
				//color:$white;
				//background: $link-color3;	
			}
		}
	} 
}

/*
   Page footer
   ========================================================================== */

.page-footer {
	position: relative;
}

/* Author block */

.author-image {
	position: absolute;
	//left: 0;
	img {
		width: 80px;
		height: 80px;
		border-radius: $border-radius;
	}
}

.author-image + .author-content {
	padding-left: 100px; //avatar width + 20px padding
	min-height: 80px; //mirrors avatar height
}

.author-content {
	word-wrap: break-word;	
}
.author-name {
	@include font-size(16,no);
	color: $grey;
}
.author-bio {
	margin-top: 0;
	@include font-size(16);
	color: $grey;
}

/*
   Site footer
   ========================================================================== */

#site-footer {
	//display : table-row;
	clear: both;
	width: 100%;
	position: relative;
	height: $site_footer_height;


	margin-top: -$site_footer-height;
	//position: absolute;
	//bottom: 0;
	
	border-top: 2px solid $grey; /* #bf9571;*/
	font-family: $alt-font;
	background: #444; /*a68162;*/
	
	@include media($micro) {
			margin-top: -$site_footer-height2;
		}
		@include media($small) {
			margin-top: -$site_footer-height2;
		}
	}
	
	
	  /* Copyright text */
	.copyright {
		background: #222; /* #8f6a4c; */ 
		border-top: 1px solid #444; /*##bf9571;*/
		text-align: center !important; 
		width: 100% ;
		position: relative; 
		//left: 45%;
		margin: 0 0 0 0 !important;
		bottom:0;
		@include font-size(12);
		color: $white ;
		
		/*a {
		//	color: lighten($black,60);
			text-decoration: none;
			color: $white;
		}*/
		
		a {
			color: $white;
			text-decoration: none;
			
			&:hover	{
				color:$link-color2 !important;	
				background: transparent;					
			}

			&.active {
				//color:$white;
				//background: $link-color3;	
			}

		
		}
	}
	


#inner-footer{
	@include outer-container;
	padding-bottom: $space;
	background: #444; /*a68162;*/
	li {
	
	//links
	a {
			color: $white;
			text-decoration: none;
			
			&:hover	{
				color:$link-color2;	
				background: transparent;					
			}

			&.active {
				//color:$white;
				//background: $link-color3;	
			}

		
		}
		
	}
	.footer_img {
		margin: $space !important;
		//height: 120px;
	}
	
}
