/* ==========================================================================
   Tiles
   ========================================================================== */
   
.tile {
  word-break: normal;
  color: $darkgrey;
  padding: 20px;
  width:380px !important;
  
  margin-top:$pad;
  margin-bottom:$pad !important;
  margin-right:$space !important;
  margin-left:$space;
  
  background: #fff;
  -webkit-box-shadow: 1px 2px 1px 0 rgba(0,0,0,.13);
  box-shadow: 1px 2px 1px 0 rgba(0,0,0,.13);
  
  .tile &:last-of-type {
    margin-right: 0;
  }

	
  a {
	color: $darkgrey;
	margin-top: $space;
	padding:0 !important;
	font-weight: 500;

	&:hover	{
		color:$link-color2;	
		background: transparent;					
		}

	&.active {
		//color:$white;
		//background: $link-color3;	
		}

		
	}
 

  @include media($micro) {
    @include fill-parent;
  }
  
  @include media(new-breakpoint(min-width em(768) 4)) {
    @include span-columns(2);
    //@include omega(4n);
  }
  
  .entry-date {
    @include font-size(16,no);
    color: lighten($text-color,25);
  }
  .post-title {
   /* @include font-size(20,no);*/
   	font-size: 1.7em;
	margin-top:$space;
	margin-bottom:0;
  }
  .post-excerpt {
	margin-top:$space;
    @include font-size(18);
  }
  .post-teaser {
    position: relative;
    display: block;
	
	
   /* &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($base-color,0);
      pointer-events: none;
      @include transition(background 0.3s);
    }
	
    &:hover {
      &:after {
        background: rgba($base-color,0.2);
      }
    }*/
  }
}
   /*******************************************************************/
   
 * {
  @include box-sizing(border-box);
}

.grid {
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
  
}

[class*='col-'] {
  float: left;
  width: 100%;
  
  .grid &:last-of-type{
    padding-right: 0;
  }
  
  @include media($medium) {
		width: 50%;
	}

	@include media($large) {
		width: 50%;
	}

}
.col-2-3 {
  width: 100%;
   
	@include media($medium) {
		width: 50%;
	}

	@include media($large) {
		width: 50%;
	}
}
/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}
   
	
.home_tile {
  word-break: normal;
  padding: $pad;
  margin:$acticle_tile_space !important;
  background: #a8d07c; 
  color:$white ;
   height: auto;
  min-height: 12.2em;
		
}
 
